body {
  background: linear-gradient(to bottom, #0d0d2b, #000000);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Navbar styles */

.navcss {
  background-color: #0e055186;
}

.navhead {
  font-family: "Teko";
  color: rgb(224, 16, 141);
  font-size: 60px;
  text-shadow: 0px 1px 3px;
}
.navsubhead {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 0px 1px 3px;
  color: rgba(127, 255, 212, 0.747);
}

.navcontent1:hover {
  display: inline-flex;
  background-color: rgba(238, 233, 233, 0.087);
  border-radius: 10px;
  text-shadow: 0px 5px 5px;
}
.hline {
  box-shadow: 0px 5px 5px;
  border-width: 2px;
}
.btn-app:hover {
  transform: translate(5px, 5px);

  box-shadow: 0px 3px 3px rgb(164, 219, 234);
}

/* Carousel */
.CarouselContent1 {
  color: rgb(224, 16, 141);
  font-weight: bolder;
  font-size: xx-large;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.CarouselContent2 {
  /* color: rgb(230, 227, 238); */
  font-weight: bolder;
  font-size: larger;
}
.imgstyle {
  opacity: 0.5;
  height: 200px !important;
}
.CarouselHead {
  font-family: "Teko";
  color: rgb(224, 16, 141);
  font-size: 30px;
  text-shadow: 0px 1px 3px;
}

/* Why Denow */


/* hair  */

.cardcontent {
  background-color: #150234;
}
.cardhead {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  text-shadow: 0px 1px 3px !important;
  color: rgba(127, 255, 212, 0.747) !important;
}

/* Cards styles */
.cards .card {
  cursor: pointer;
  transition: 400ms;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

/* Footer */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */

footer {
  position: relative;
  background: linear-gradient(to bottom, #0d0d2b, #000000);
  width: 100%;
  margin-top: 30px;
  bottom: 0;
  left: 0;
}

footer .content {
  margin: auto;
  padding: 40px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  cursor: pointer;
}

.content .top .media-icons {
  display: flex;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* footer heading */

.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before {
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
  display: flex;
  text-wrap: wrap;
}
.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #140b5c;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #140b5c;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #0f0844;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}

/* Click content */
.hidden {
  text-shadow: 0px 1px 3px;
  color: rgba(127, 255, 212, 0.747);
}
#cont {
  color: #fff;
}

/* cursor */
.Pointercursor {
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
#idcursor {
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
  fill-rule: evenodd;
}
